@import "bootstrap";

.dataTables_filter {
  margin-top: 1rem;
  margin-right: 1rem;
}

.dataTables_length {
  margin-top: 1rem;
  margin-left: 1rem;
}

.dataTables_paginate {
  float: right;
  padding-top: 0.5rem;
}
